#header-logo-2022{
    width:auto;
    height:50px;
    display: flex;
    border:2px solid black;
    flex-direction: row;
    align-items: center;
}

#header-logo-2022 a{
    text-decoration: none;
    margin-left:20px;
    margin-right:20px;
}