body {
  background-color: #eddcd9;
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 90vh;
  padding: 1rem;
  /* border: 2px solid red; */
}

.table_area {
  cursor: pointer;
  font-size: 1.5rem;
  width: 100%;
  border: 2px solid hsl(184, 28%, 21%);
  border-radius: 20px;
  box-shadow: 3px 4px 0px 1px #e99f4c;
  margin: 0 0 1rem 0 ;
}

.logo {
  width: 50px;
  height: 50px;
}

.tab {
  background-color: #de5499;
}

.tab_last {
  background-color: #de5499;
  border-radius: 0 20px 20px 0;
}

.tab_first {
  background-color: #de5499;
  border-radius: 20px 0 0 20px;
}

.tab:hover,
.tab_last:hover,
.tab_first:hover {
  background-color: #eddcd9;
}

.nav {
  text-decoration: none;
  color: black;
  width: 100%;
  height: auto;
  border: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  /* border: 2px solid #264143; */
}

.form_area {
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eddcd9;
  height: auto;
  width: auto;
  border: 2px solid #264143;
  border-radius: 20px;
  box-shadow: 3px 4px 0px 1px #e99f4c;
}

.title {
  color: #264143;
  font-weight: 900;
  font-size: 1.5em;
  width: 290px;
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 10px;
}

.form_style {
  outline: none;
  border: 2px solid #264143;
  box-shadow: 3px 4px 0px 1px #e99f4c;
  width: 290px;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
}

.form_style:focus,
.btn:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #e99f4c;
}

.btn {
  padding: 15px;
  margin: 25px 0px;
  width: 290px;
  font-size: 15px;
  background: #de5499;
  border-radius: 10px;
  font-weight: 800;
  box-shadow: 3px 3px 0px 0px #e99f4c;
}

.btn:hover {
  opacity: 0.9;
}

.heading {
  background-color: #de5499;
  border-radius: 0 20px 20px 0;
}

/* utils */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropped {
  font-size: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
