<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anime Recommendation</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="wrapper">
      <table class="table_area">
        <tr>
          <th>
            <img src="" alt="Logo" class="logo" />
          </th>

          <th class="tab_last">
            <a href="ref.html" class="nav">Ref.</a>
          </th>
        </tr>
      </table>

      <h1>No Anime Found</h1>
    </div>
  </body>
</html>
