<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not found</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="wrapper">
      <table class="table_area">
        <tr>
          <th>
            <a href="/" class="nav">Back</a>
          </th>

          <th class="tab">
            <div class="dropdown">
              <div class="nav">2023</div>
              <div class="dropdown-content"></div>
            </div>
          </th>

          <th class="tab">
            <div class="dropdown">
              <div class="nav">2018</div>
              <div class="dropdown-content">
                <a href="/top-rated-2018" class="tab dropped"
                  >Top Rated Anime</a
                >
                <a href="/top-studio-2018" class="tab dropped"
                  >Top Anime Studios</a
                >
                <a href="/temp-map-2018" class="tab dropped">Anime Watchers</a>
                <a href="/user-nature-2018" class="tab dropped"
                  >Watcher Age & Gender</a
                >
              </div>
            </div>
          </th>
          <th class="tab_last">
            <a href="/ref" class="nav">Ref.</a>
          </th>
        </tr>
      </table>
      <div class="container">
        <div class="form_area">
          <h1>No Anime Found</h1>
        </div>
      </div>
    </div>
  </body>
</html>
