<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anime Data Analysis</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="wrapper">
      <table class="table_area">
        <tr>
          <th>
            <img src="" alt="Logo" class="logo" />
          </th>
          <th class="tab_last">
            <a href="ref.html" class="nav">Ref.</a>
          </th>
        </tr>
      </table>

      <div class="container">
        <div class="form_area">
          <form action="{{ url_for('recommendation') }}" method="post">
            <div class="form_group">
              <p class="title">Recommend</p>
              <input
                placeholder="Search..."
                class="form_style"
                type="text"
                name="anime_name"
              />
            </div>
            <div>
              <input type="submit" class="btn" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
