<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overall</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="wrapper">
      <table class="table_area">
        <tr>
          <th class="tab_first">
            <a href="/index" class="nav">Back</a>
          </th>

          <th>
            <a href="/temp-plot" class="nav">Overall</a>
          </th>
          <th class="tab">
            <a href="/2023" class="nav">2023</a>
          </th>
          <th class="tab">
            <a href="/2022" class="nav">2022</a>
          </th>
          <th class="tab">
            <a href="/2021" class="nav">2021</a>
          </th>
          <th class="tab">
            <a href="/2020" class="nav">2020</a>
          </th>
          <th class="tab_last">
            <a href="/ref" class="nav">Ref.</a>
          </th>
        </tr>
      </table>

      <h1>Overall Analysis</h1>
    </div>
  </body>
</html>
