<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anime Recommendation</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="wrapper">
      <table class="table_area">
        <tr>
          <th>
            <a href="/index">
              <img
                src="https://pic.onlinewebfonts.com/thumbnails/icons_301852.svg"
                alt="Logo"
                style="width: 1rem"
                class="nav"
              />
            </a>
          </th>

          <th class="tab">
            <div class="dropdown">
              <a href="/2023" class="nav">2023</a>
              <div class="dropdown-content">
                <a href="/2023#top_popular_2023" class="tab dropped">Top 15 Most Popular Animes</a>
                <a href="/2023#top_watched_2023" class="tab dropped">Top 15 Anime based on Watchers</a>
                <a href="/2023#top_rating_2023" class="tab dropped">Top 5 Anime Ratings</a>
                <a href="/2023#top_favourited_2023" class="tab dropped">Top 15 Anime by Favorites</a>
                <a href="/2023#top_source_2023" class="tab dropped">Anime Source Preferences by Age</a>
                <a href="/2023#proportion_genre_2023" class="tab dropped">Proportion of Anime Based Genres</a>
                <a href="/2023#genre_distribution_2023" class="tab dropped">Genre Distribution</a>
                <a href="/2023#watcher_count_2023" class="tab dropped">Anime Watcher in Each Country</a>
                <a href="/2023#type_distribution_2023" class="tab dropped">Type distribution</a>
                <a href="/2023#anime_gender_2023" class="tab dropped">Number of Anime Viewers According to Gender</a>
                <a href="/2023#user_activity_2023" class="tab dropped">User Activity and Anime Scores</a>
                <a href="/2023#top_studio_2023" class="tab dropped">Top 5 Anime Studios</a>
                <a href="/2023#anime_premiered_2023" class="tab dropped">Count of Anime Premiered Each Year</a>
                <a href="/2023#type_vs_source_2023" class="tab dropped">Anime Type Distribution from Different Sources</a>
                <a href="/2023#age_vs_gender_2023" class="tab dropped">Count by Age Group and Gender Year</a>
                <a href="/2023#episode_vs_popular_vs_score_2023" class="tab dropped">Episodes vs Popularity vs Score</a>
                <a href="/2023#common_title_2023" class="tab dropped">Common Words Used in Anime Title</a>
              </div>
            </div>
          </th>

          <th class="tab">
            <div class="dropdown">
              <a href="/2018" class="nav">2018</a>
              <div class="dropdown-content">
                <a href="/2018#top_popular_2018" class="tab dropped">Top 15 Most Popular Animes</a>
                <a href="/2018#top_watched_2018" class="tab dropped">Top 15 Anime based on Watchers</a>
                <a href="/2018#top_rating_2018" class="tab dropped">Top 5 Anime Ratings</a>
                <a href="/2018#top_favourited_2018" class="tab dropped">Top 15 Anime by Favorites</a>
                <a href="/2018#top_source_2018" class="tab dropped">Anime Source Preferences by Age</a>
                <a href="/2018#proportion_genre_2018" class="tab dropped">Proportion of Anime Based Genres</a>
                <a href="/2018#genre_distribution_2018" class="tab dropped">Genre Distribution</a>
                <a href="/2018#watcher_count_2018" class="tab dropped">Anime Watcher in Each Country</a>
                <a href="/2018#type_distribution_2018" class="tab dropped">Type distribution</a>
                <a href="/2018#anime_gender_2018" class="tab dropped">Number of Anime Viewers According to Gender</a>
                <a href="/2018#user_activity_2018" class="tab dropped">User Activity and Anime Scores</a>
                <a href="/2018#top_studio_2018" class="tab dropped">Top 5 Anime Studios</a>
                <a href="/2018#anime_premiered_2018" class="tab dropped">Count of Anime Premiered Each Year</a>
                <a href="/2018#type_vs_source_2018" class="tab dropped">Anime Type Distribution from Different Sources</a>
                <a href="/2018#age_vs_gender_2018" class="tab dropped">Count by Age Group and Gender Year</a>
                <a href="/2018#episode_vs_popular_vs_score_2018" class="tab dropped">Episodes vs Popularity vs Score</a>
                <a href="/2018#common_title-2018" class="tab dropped">Common Words Used in Anime Title</a>
              </div>
            </div>
          </th>
        </tr>
      </table>

      <h1>Anime Recommendation</h1>
      {% for key, value in data['Received Name'].items() %}
      <div class="container">
        <div class="form_area">
          <h2>Anime: {{ value }}</h2>

          <h3>Similarity:</h3>
          <ul>
            <li>{{ key }}: {{ data['Received Similarity'][key] }}</li>
          </ul>

          <h3>Genres:</h3>
          <ul>
            <li>{{ key }}: {{ data['Received Genres'][key] }}</li>
          </ul>

          <h3>Image:</h3>
          <img
            src="{{ data['Received Image'][key] }}"
            alt="Image for {{ value }}"
          />

          <h3>Synopsis:</h3>
          <p>{{ key }}: {{ data['Received Synopsis'][key] }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
